
.hero {
    height: 50vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.backBtn {
  color: #e0e0e0;
  font-weight: 700;
  font-size: 12px;
}
.searchBox {
    width: 80%;
    margin: 30% auto;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}
.inputContainer {
    width: 100%;
}
.suggestion {
    padding: 15px 10px;
    background: #fff;
    cursor: pointer;
    text-align: left;
    color: #444;
    box-sizing: border-box;
    font-family: Lato,sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.suggestion:hover {
    color: #d28273;
}
.icon {
    width: 25px;
    height: 25px;
    fill: #d28273;
    position: absolute;
    right: 15px;
}
.input {
    width: 100%;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    box-shadow: 0 5px 20px rgba(156, 160, 171, 0.25);
    color: #444;
    z-index: 1000;
    box-sizing: border-box;
}
.suggestionsContainer {
    margin: 5px 0 0;
    padding: 0;
    font-size: 12px;
    position: absolute;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,.2);
    z-index: 199999;
    background-color: #fff;
}
.playlists {
    line-height: 0;
    padding: 0 2.5vw;
    position: relative;
    flex-grow: 1;
}
@media (min-width: 800px) {
    .searchBox {
      margin: 10% auto;
    }
    .input {
        font-size: 28px;
    }
}
@media (min-width: 1440px){
  .playlists {
    padding: 0 10vw;
  }
}
