
.position {
    position: absolute;
    top: 10px;
    right: 25px;
    display: flex;
    align-items: center;
}
span.position {
  padding: 7px 15px 3px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

    span.position > img {
        width: 75px;
        height: 23px;
    }

.user {
    border-radius: 50%;
    margin-left: 30px;
}



@media (min-width: 800px) {
    span.position {
        width: 90px;
        height: 27px;
    }
}
