html, body, body>div {
  min-height: 100%
}
body>div {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 12px;
  padding-bottom: 25px;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-y: scroll;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input:focus {
    outline: none;
}
@media (min-width: 800px) {
    body>div {
        font-size: 16px;
    }
}
