<!DOCTYPE html>
<html>
  <head>
    <title>Playlist</title>
    <meta name="theme-color" content="#d28273">
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json">
    <meta name='description' content="An online music player that makes playlists based around your favorite songs - if you found a playlist you like you can then simply save it to your Spotify account to listen to it later!" />
    <meta name="author" content="Jake Thornton" />
    <meta name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
  </head>
  <body>
    <div id="root"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  		<script defer src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  	<% } %>
    <script>
    (function() {
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/serviceWorker.js');
      }
    })();
    </script>
    <noscript>Your browser does not support JavaScript!</noscript>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
      <link rel="preload" as="style" href="<%= htmlWebpackPlugin.files.css[css] %>" onload="this.rel='stylesheet'">
    <% } %>
  </body>
</html>
